/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ##################################################################### */
/* ##########################   SMARTPHONE   ########################### */
/* ##################################################################### */
/* Extra small devices (phones, less than 768px) */


header{
  background-color: #3E3E3E;
  padding: 20px 0 20px 0;
}

#menu select{
  width: 60%;
  text-align: center;
  margin: 0 10% 0 20%;
  /*font-family: 'Lora', serif;*/
  font-size: 15px;
  background-color: #8A8A8A;
  border-color:  #3E3E3E;
  color: #FFF;
  }

section h1 {
  font-size: 50px;
}

.T{
      font-family: 'Lobster', cursive;
      text-align: center;

}

.img{
        padding-top: 120px;
}

.img1 {
      border-radius: 80px;
}

.img p{
  font-style: 10px;
  /*font-family: 'Roboto Slab', serif;*/
  padding-top: 10px;
}

.img2{
  margin-top: 50px;
}

#menu a{
  font-family: 'Indie Flower', cursive;

}

/*###############################Presentation#################################*/

.presentation{
  background-color: #EEEEEE;
  margin-top: 135px;
  padding: 50px 0;

}

h3{
  /*font-family: 'Bungee Shade', cursive;*/
  font-family: 'Lobster', cursive;
}

.presentation h3,p{
  /*margin-left: 5%;*/
  padding-top: 30px;


}

.presentation p{
  font-family: 'Indie Flower', cursive;
  /*font-family: 'Yellowtail', cursive;*/
  font-size: 25px;
}

/*#####################Compétences###################*/

/*################PROGRESS BAR###############*/

.competence div[data-progress] {
  box-sizing: border-box;
  position: relative;
  height: 200px;
  width: 200px;
  padding: 20px;
  margin: 40px auto;
  background: black;
  background-clip: content-box;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 20px transparent, 0px 0px 0px 20px black;
  color: yellow;
}

.competence div[data-progress]:before {
  position: absolute;
  content: attr(data-progress);
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  line-height: 200px;
  border-radius: 50%;
  z-index: 4;
}

.competence div > div {
  position: absolute;
  height: 50%;
  width: 50%;
  background: black;
  border-radius: 0%;
}

.quad1 {
  top: 0px;
  left: 50%;
  transform-origin: left bottom;
  transform: skew(0deg);
  /* negative */
}

.quad2 {
  top: 50%;
  left: 50%;
  transform-origin: left bottom;
  transform: skewY(0deg);
}

.quad3 {
  top: 50%;
  left: 0%;
  transform-origin: right top;
  transform: skew(0deg);
  /* negative */
}

.quad4 {
  top: 0%;
  left: 0%;
  transform-origin: right bottom;
  transform: skewY(0deg);
}

.quad5 {

  right: 10px;
  left: 0px;
  /*bottom: 0px;*/
  top: 0px;
  height: 1000% !important;
  width: 1000% !important ;
  background-color: red !important;
  z-index:-1;
}





  /*############################################################################
  ###################################smart 2.0#################################
  ###########################################################################*/

  @media (min-width: 0px) and (max-width: 768px) {

  #menu ul{
    display: none;
  }


  }




/* ##################################################################### */
/* ############################   TABLETS   ############################ */
/* ##################################################################### */
/* Small devices (tablets, 768px and up) */
   @media (min-width: 768px) {

  #menu a{
      margin-left: 10%;
      border: solid white 1px;
      padding: 9px 5px;
      font-size: 20px;
    }

#menu a:hover{
  background-color: #000;
}


    #menu select {
      display: none;
    }

    #menu ul{
      list-style: none;
      display: inline-flex;
      width: 100%;
      }

  #menu li{
    width: 100%;
  }

    #menu a{
      color: #fff;
    }

   }

   /*#######################présentation######################################*/

   .presentation h3,.P1{
     margin-left: 25%;
     margin-right: 30px;
   }



/* ##################################################################### */
/* ############################   DESKTOPS   ########################### */
/* ##################################################################### */
/* Medium devices (desktops, 992px and up) */
   @media (min-width: 992px) {

   }

/* ##################################################################### */
/* ########################   LARGE DESKTOPS   ######################### */
/* ##################################################################### */
/* Large devices (large desktops, 1200px and up) */
   @media (min-width: 1200px) {

   }














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
